/* Styles for the header */
header {
    margin: 0; /* Set margin to 0 */
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #0D1E32;
    /* width: 100%; */ /* Not necessary, block-level elements are full width by default */
    /* height: 100%; */ /* Not necessary, let the content determine the height */
}

/* Styles for the navigation menu */
.menuNav {
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: auto; */ /* Not needed, use text-align to align text */
    text-align: left; /* Align text to the left */
    background-color: #0D1E32;
    width: 100%;
}

/* Styles for navigation links */
.menuNav a {
    color: goldenrod;
    text-decoration: none;
}

/* Styles for navigation links when hovered */
.menuNav a:hover {
    text-decoration: underline;
}

/* Styles for the main navigation */
nav {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: center;
    background-color: #0D1E32;
    width: 100%;
}

/* Styles for navigation links */
nav a {
    color: goldenrod;
    text-decoration: none;
}

/* Styles for navigation links when hovered */
nav a:hover {
    text-decoration: underline;
}

/* Styles for the body */
body {
    margin: 0;
    background-color: #F7EBDB;
    width: 100%;
    overflow-x: hidden;
}

/* Styles for headings in the body */
body h2 {
    /* margin: none; */ /* Not valid, use '0' for no margin */
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: goldenrod;
    color: #0D1E32;
    /* width: 100%; */ /* Not necessary, block-level elements are full width by default */
    /* height: 100%; */ /* Not necessary, let the content determine the height */
}

/* Styles for containers */
.container {
    display: flex;
    width: auto;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Styles for figure captions */
figcaption {
    text-align: center;
    font-style: italic;
    font-family: Georgia, serif;
    /* align-content: center; */ /* Not necessary, use text-align for inline elements */
}

/* Styles for figures */
figure {
    padding: 15px;
}

/* Styles for figures with box shadow */
.figure {
    font-weight: normal; /* Set default font weight */
    box-shadow: 0 0 40px #0D1E32;
}

/* Styles for figures when hovered */
.figure:hover {
    font-weight: bold; /* Change font weight to bold when container is hovered over */
}

/* Styles for the drinks container */
.drinksContainer {
    width: 100px;
}

/* Styles for the 'specials' section */
#specials {
    text-align: center;
    color: #0D1E32;
}

/* Styles for the footer */
footer {
    background-color: #0D1E32;
    color: goldenrod;
    padding: 15px;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
}

/* Media query for screens with a maximum width of 1250px */
@media only screen and (max-width: 1250px) {
    /* Adjusted styles for sections */
    section {
        display: grid;
        width: 100%;
        font-size: larger;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    /* Adjusted styles for containers */
    .container {
        display: block;
        width: auto;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    /* Adjusted styles for containerH */
  

    /* Styles for images inside containerH */
    
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    /* Adjusted styles for sections */
    section {
        display: grid;
        width: 100%;
        font-size: larger;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    /* Adjusted styles for containers */
    .container {
        display: block;
        width: auto;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
    }

    figcaption {
        display:none;
    }    

    /* Styles for images inside containerH */
  img{
    display:none;
  }
}
